<form action="/home/login" method="post">
    <input name="username" />
    <input name="password" type="password"/>
    <input type="submit" value="Go"/>
</form>


<a href='/login-twitter' \">I prefer Twitter</a>

